.realbutton{
    background-color: #1B424C; 
    font-size: 14px; 
    border-radius:40px; 
    padding:10px 20px; 
    border:none; 
    color:white;
}

.realbutton2{
    background-color: #1B424C; 
    font-size: 16px; 
    border-radius:40px; 
    padding:10px 35px; 
    border:none; 
    color:white;
}

.viewmore{
    background-color: #1B424C; 
    font-size: 16px; 
    border-radius:40px; 
    padding:10px 35px; 
    border:none; 
    color:white;
}

.getstarted{
    background-color:#ffffff;
    font-size:13px;
    border-radius:40px;
    padding:7px 15px;
    border-color:#1B424C;
    color:#1B424C;
    border:2px solid;
    font-weight:bold;
}

a.nav-link{
    font-size: 1.1rem;
}

a.navbar-brand{
    font-size:1.7rem;
    font-weight:bold;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
  
.initialtext{
    font-size:1rem;
    font-weight:500;
    color:rgb(87, 85, 85);
    letter-spacing: 0.5px;
}

.bigtext{
    font-weight:bold;
    font-size:3.8rem;
    color:#1B424C;
}

.semibigtext{
    font-weight:bold;
    font-size:2.4rem;
    color:#1B424C;
}

.image-right{
    width:36rem;
    height:24rem;
    margin-top:2rem;
}

.headert1{
    color:#1B424C;
}

.headert2{
    color:#51CC74;
}

.blueishting{
    background-color:#edf4f3;
}

.footerbg{
    background-image: url('https://w0.peakpx.com/wallpaper/991/1011/HD-wallpaper-3d-black-texture-geometric-black-texture-black-abstraction-background-3d-abstraction-black-texture-creative-black-background.jpg');
    height:70vh;
    background-size: cover;
}

.underline-small{
    color:white;
    display:inline-block;
    position:relative;
    
}

.underline-small::after{
    content:'';
    height:2px;
    width:50%;
    background:#ffffff;
    position:absolute;
    left:0%;
    bottom:-5px;
}

.no-bullets{
    list-style-type:none;
}

.top-right {
    position: absolute;
    top: -30px;
    left: -50px;
    font-size:70px;
    font-weight:bold;
    opacity:0.2;
    color:#70747c;
    z-index:-1;
}

.headingntext{
    position:relative;
    z-index:1;
}